"""Files to be ignored - Git Flow"""

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Other extensions
*.xml
*.iml
*.json

# Specific folders
Login/.vscode/
Login/__pycache__/
Login/data/
Streaming/.vscode/
.ipynb_checkpoints/
__pycache__/